/* Footer design */
/* Footer design */
#footer{
  background-color: #272822;
  padding: 50px;
}

.footer-text{
  color: #EBEBEC;

}

.fa-color{
  color: #EBEBEC;
  opacity: 1;
}

.fa-color:hover{
  opacity: 0.7;
}

.footer_content {
  display: flex;
  align-items: center;
}
