   <div id="footer">
    <div class="container">
      <div class="row">
        <div class="footer_content">
          <div class="col-xs-4">
            <ul class="list-inline">
              <li><a href=""><i class="fa-color fa fa-3x fa-youtube"></i></a></li>
              <li><a href=""><i class="fa-color fa fa-3x fa-instagram"></i></a></li>
              <li><a href=""><i class="fa-color fa fa-3x fa-facebook"></i></a></li>
              <li><a href=""><i class="fa-color fa fa-3x fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="footer-text col-xs-8 text-right">
            <p>This is a Airbnb Home challenge @ LeWagon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
